<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
	<label class="checkbox"> <input type="checkbox"> 
	  <%= f.check_box :visible, checked: true%>
	  <%= f.label :visible %>
	</label>
	<%= f.select :category, ['PSA', 'Arts', 'Feed Me'] %>
	<%= f.text_field :latitude %>
	<%= f.text_field :longitude %>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
  </div>
  
<% end %>
